@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div>
    <h1 class="display-4">Welcome to the Pandell Practicum!</h1>
    <p>&nbsp;</p>
        <h5>Overall Requirements:</h5><br/>
    <p>
        Please write a program that generates a list of 10,000 numbers in random order each time it is run. Each number in the list must be unique and be between 1 and 10,000 (inclusive).
    </p>
    <p>
        The most important success factor is to produce the best solution you can to solve the problem. There are many aspects to consider within that context – efficiency, performance, documentation, etc. Code to perform the algorithm is the minimum requirement. Your deliverable should contain enough to give us a glimpse into your analysis, your approach, your skills, or anything else that will demonstrate your ability as a software developer. We will be looking for a good approach, a glimpse into your thought process, things you can do to impress us, and clean and efficient code. We’re your potential customer for this assignment, show us what you’ve got.
    </p>
    <p>
        Pleast click on the <b>Pandell Logo</b> icon in the header to start the Randomizer CRUD Generation Exercise!
    </p>
</div>