@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<p>Please contact <i>Gerry Routledge</i> to receive access to the GitHub Repo that contains this Practicum's Code Challenge!</p>